.login-form {
    display: flex;
    justify-content: center;

    .login-block {
        border-radius: 16px;
        border: 1px solid lightgray;
        padding: 3rem;
        margin-top: 6rem;

        .title {
            font-size: 16;
            font-weight: 600;
        }
    }
}